abrt        
gnome-initial-setup-done  
monitors.xml      
gnome-session             
nautilus          
user-dirs.dirs
background  
goa-1.0                   
user-dirs.locale
dconf       
gtk-3.0                   
org.gnome.Ptyxis  
uv
gtk-4.0                   
pulse
evolution   
ibus
.gsd-keyboard.settings-ported
QtProject.conf
dleyna-server-service.conf
fish/
nextjs-nodejs/
totem/
zoom.conf
zoomus.conf
